In [7]:
import numpy as np
import pandas as pd

In [8]:
%pip install fsspec

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.comNote: you may need to restart the kernel to use updated packages.
Requirement already satisfied: fsspec in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (2023.6.0)

[notice] A new release of pip available: 22.3.1 -> 23.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
data = pd.read_csv("C://Users//HP//Desktop//dtwin_native//dt1.csv")

In [11]:
data.tail(1)

,Timestamp,19-Jul-2023 16:25:39,Timestamp.1,19-Jul-2023 16:25:39.1,Timestamp.2,19-Jul-2023 16:25:39.2,Timestamp.3,19-Jul-2023 16:25:39.3
1002,9.99000000000000E+0,1.07632923781549E+3,9.99000000000000E+0,2.25014775246303E-4,9.99000000000000E+0,6.00515551075912E+0,9.99000000000000E+0,3.91554209554711E+0

In [12]:
data.head()

,Timestamp,19-Jul-2023 16:25:39,Timestamp.1,19-Jul-2023 16:25:39.1,Timestamp.2,19-Jul-2023 16:25:39.2,Timestamp.3,19-Jul-2023 16:25:39.3
0,Interval,1.00000000000000E-2,Interval,1.00000000000000E-2,Interval,1.00000000000000E-2,Interval,1.00000000000000E-2
1,Channel Name,Temp_R,Channel Name,Current,Channel Name,Vib_Extruder,Channel Name,Vibration_2
2,Unit,Ohms,Unit,Amps,Unit,Volts,Unit,Volts
3,0.00000000000000E+0,1.15592715747409E+3,0.00000000000000E+0,2.40866197087013E-4,0.00000000000000E+0,5.98278909682988E+0,0.00000000000000E+0,3.90238540155402E+0
4,1.00000000000000E-2,1.07139548249340E+3,1.00000000000000E-2,1.74818606073940E-4,1.00000000000000E-2,6.01074711431131E+0,1.00000000000000E-2,3.84548270116570E+0

In [14]:
cols = ["timestamp", "Temp_R", "timestamp", "Current","timestamp", "Vib_Extuder","timestamp" ,"Vibration2"  ]

In [15]:
data.columns = cols

In [39]:
tail = data.tail(1)
tail = pd.DataFrame(tail)
tail

,timestamp,Temp_R,timestamp,Current,timestamp,Vib_Extuder,timestamp,Vibration2
1002,9.99000000000000E+0,1.07632923781549E+3,9.99000000000000E+0,2.25014775246303E-4,9.99000000000000E+0,6.00515551075912E+0,9.99000000000000E+0,3.91554209554711E+0

In [44]:
ele = [float(tail.iloc[0][1]), float(tail.iloc[0][3]),float(tail.iloc[0][5]), float(tail.iloc[0][7])]

In [45]:
print(ele)

[1076.32923781549, 0.000225014775246303, 6.00515551075912, 3.91554209554711]

1076.32923781549